<%= form_for(@acronym) do |f| %>
  <% if @acronym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acronym.errors.count, "error") %> prohibited this acronym from being saved:</h2>
      <ul>
      <% @acronym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :definitions do |builder| %>
	<p>
	  <div class="field">
	    <%= builder.label :text, "Definition" %><br />
	    <%= builder.text_field :text %>
        <%= builder.check_box :_destroy %>
        <%= builder.label :_destroy, "Remove Definition" %>
	  </div>
	</p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
