<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @acronym.name %>
</p>

<%= form_for(@definition) do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text, "add new definition:" %><%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<p>
  <%= link_to 'Definitions', acronym_definitions_path(@acronym) %>
</p>

<%= link_to 'Edit', edit_acronym_path(@acronym) %> |
<%= link_to 'Back', acronyms_path %>
