<h1>Listing acroynms</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @acroynms.each do |acroynm| %>
  <tr>
    <td><%= acroynm.name %></td>
    <td><%= link_to 'Show', acroynm %></td>
    <td><%= link_to 'Edit', edit_acroynm_path(acroynm) %></td>
    <td><%= link_to 'Destroy', acroynm, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Acroynm', new_acroynm_path %>
